<?xml version="1.0"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<servlet>
		<description></description>
		<display-name>appServices</display-name>
		<servlet-name>appServices</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.xtivia.xip.services.servlet.XipServicesServlet</param-value>
		</init-param>
		<init-param>
			<param-name>sub-context</param-name>
			<param-value>appServices</param-value>
		</init-param>
		<init-param>
			<param-name>stub-services</param-name>
			<param-value>com.xtivia.xip.services.stub</param-value>
		</init-param>
		<init-param>
			<param-name>impl-services</param-name>
			<param-value>com.xtivia.xip.services.impl</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServices</servlet-name>
		<url-pattern>/appServices</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
		
</web-app>